{% include 'ecomm_headers.html' %}

<div id="main_div_ecomm_product_pg111">
  <div id="sub_main_div_101_product_all_details">
    <div id="product_img_div_3249field11">
      <a href=""
        ><img
          class="product_img_3249field16"
          style="background: #4285f4"
          src="/static/no_data_image."
          alt=""
      /></a>
      <a href=""
        ><img
          class="product_img_3249field16"
          style="background: #00a8a0"
          src="/static/no_data_image."
          alt=""
      /></a>
      <a href=""
        ><img
          class="product_img_3249field16"
          style="background: #fffd86"
          src="/static/no_data_image."
          alt=""
      /></a>
      <a href=""
        ><img
          class="product_img_3249field16"
          style="background: #ffd600c4"
          src="/static/no_data_image."
          alt=""
      /></a>
    </div>
    <div id="product_details_div_3249field12">
      <div id="product_head_div_001">
        <p>safari bag silicon leather waterproof sunproof 1.5 ltr</p>
      </div>

      <div id="product_dis_div_002"></div>

      <div id="product_price_div_003"></div>

      <div id="product_cta_div_001"></div>
    </div>
  </div>
</div>

<style>
  .main_div_ecomm_product_pg12 {
    margin: 0px;
  }
  #sub_main_div_101_product_all_details {
    border: 1px solid red;
    display: flex;
    width: 100%;
  }
  #product_img_div_3249field11 {
    border: 1px solid blue;
    width: 60%;
    text-align: center;
  }
  #product_details_div_3249field12 {
    border: 1px solid green;
    width: 40%;
  }
  .product_img_3249field16 {
    height: 347px;
    width: 369px;
    border-radius: 16px;
    margin: 10px;
  }
</style>
